MAR.svg
MAR2.png
MAR2.svg
MAR_total.svg
MS.svg
PC1.svg
PC2.svg
PC3.svg
PC4.svg
PC5.svg
PCs.svg
Rplot.pdf
add.svg
biplot_1v2.pdf
chu22_39_XRF.zip
chu22_39_XRF_corrplot.pdf
clr_plot.svg
corrplot.pdf
corrplot2.pdf
factor_loadings.pdf
factor_plot.pdf
kas_corrplot.pdf
kas_screeplot.pdf
pc.pdf
pc1_pc2.pdf
pc1_pc3.pdf
pc2_pc3.pdf
plot1.pdf
plot2.pdf
plot3.pdf
plot4_clr.pdf
screeplot.pdf
sum.svg
top_MAR_total.svg
top_PCs.svg
top_clr_plot.svg
Kas-17_top_clr.svg
Kas-17_top_comparison_clr.svg
Kas-17_top_comparison_summary.svg
Kas-17_top_summary.svg
clr_comparison.svg
