chu22_39_XRF_PCs.svg
chu22_39_XRF_biplot1v2.pdf
chu22_39_XRF_biplot1v3.pdf
chu22_39_XRF_biplot2v3.pdf
chu22_39_XRF_corr.xlsx
chu22_39_XRF_corrplot.pdf
chu22_39_XRF_cos2.pdf
chu22_39_XRF_screeplot.pdf
